
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Patua+One|Ropa+Sans|Eagle+Lake');
a {
  color: #cc3300;
}

a:hover{
  text-decoration: none;

  color: #696969;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #cc3300;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #cc3300;
  color: white;
  border-radius: 3px;
}
li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
li b {
  font-family: 'Ropa Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ropa Sans', sans-serif;
}

input {
  height: 35px;
}

.inputButton {
  margin-bottom: 15px;
}

.navbar-default .navbar-brand {
  font-family: 'Eagle Lake', cursive;
  color: #cc3300;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image:
    linear-gradient(
      rgba(0,0,0,0.65),
      rgba(0,0,0,0.65)
      ),
    url('../images/farWealdMap.png');
  background-position: center;
  height: 250px;
  position: relative;
}

.jumbotron h2 {
  font-family: 'Patua One', cursive;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 7vh;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*Styles for the Database search page */
.jsonScrollBox {
  width:100%;
  max-height:500px;
  font:12px Georgia, Garamond, Serif;
  float: left;
  overflow: auto;
  margin-bottom: 25px;
}

.jsonScrollBox b {

}

.dbSearchBar {
  width: 100%;
  margin-bottom: 25px;
}

.dbSearchBar input {
  width: 100%;
  height: 50px;
  font-size: 35px;
  border-radius: 3px;
}

.iconFooter i{
  padding: 5px;
  color: black;
  font-size: 35px;
}

.iconFooter i:hover{
  color: #cc3300;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #cc3300;
    color: white;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.accordionWrapper {
  margin-bottom: 25px;
}

/*Pop-up box for map image*/
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;
    margin-bottom: 35px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 50px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        height: 100%;
    }
}

.blog-posts-list{

  list-style: none;
  list-style-type: none;
  padding: 0;

}
