<div ng-app="fourthgruntApp">
  <div ng-controller="DatabaseCtrl as result">
    <div class="dbSearchBar">
      <input type="text" ng-model="searchString">
    </div>
<div class="accordionWrapper">
  <button class="accordion"><h4>Dungeons</h4></button>
  <div class="panel">
    <div class="jsonScrollBox" id="scrollBox1">
      <ul ng-repeat="i in result.json.Dungeon | filter:searchString">
        <li>
          <b>{{i.name}}</b>
          <br>{{i.realm}}
          <br> <i>{{i.hex}}</i>
          <br>{{i.description}}
          <br> <i>{{i.notes}}</i>
          <br>
        </li>
      </ul>
    </div>
  </div>

  <button class="accordion"><h4>Steadings</h4></button>
  <div class="panel">
    <div class="jsonScrollBoxTitle">
    <div class="jsonScrollBox" id="scrollBox2">
      <ul ng-repeat="i in result.json.Steading | filter:searchString">
        <li>
          <b>{{i.name}}</b>
          <br>{{i.realm}}
          <br> <i>{{i.hex}}</i>
          <br> {{i.description}}
          <br> <i>{{i.notes}}</i>
          <br>
        </li>
      </ul>
    </div>
  </div>
</div>

  <button class="accordion"><h4>Ascendants</h4></button>
  <div class="panel">
    <div class="jsonScrollBox" id="scrollBox3">
      <ul ng-repeat="i in result.json.Ascendant | filter:searchString">
        <li>
          <b>{{i.name}}</b>
          <br>{{i.realm}}
          <br> <i>{{i.hex}}</i>
          <br> {{i.description}}
          <br> <i>{{i.notes}}</i>
          <br>
        </li>
      </ul>
    </div>
  </div>

  <button class="accordion"><h4>NPCs</h4></button>
  <div class="panel">
    <div class="jsonScrollBox" id="scrollBox4">
      <ul ng-repeat="i in result.json.NPC | filter:searchString">
        <li>
          <b>{{i.name}}</b>
          <br>{{i.realm}}
          <br> <i>{{i.hex}}</i>
          <br> {{i.description}}
          <br> <i>{{i.notes}}</i>
          <br>
        </li>
      </ul>
    </div>
  </div>

  <button class="accordion"><h4>Monsters</h4></button>
  <div class="panel">
    <div class="jsonScrollBox" id="scrollBox5">
      <ul ng-repeat="i in result.json.Monster | filter:searchString">
        <li>
          <b>{{i.name}}</b>
          <br>{{i.realm}}
          <br> <i>{{i.hex}}</i>
          <br>{{i.description}}
          <br> <i>{{i.notes}}</i>
          <br>
        </li>
      </ul>
    </div>
  </ul>
</div>
</div>


</div>
</div>
