<div class="jumbotron">
  <h2>Welcome to the Far Weald</h2>
</div>

<div class="row marketing">
  <h4>The World of Estaria</h4>
  <p>
    You have entered the world of Estaria, a place of magic, mystery, power, and exploration. Please feel free to use this tool to help you run your 5th Edition Dungeons and Dragons games. This tool is meant to be an inspiration or copied by people playing DND or other related tabletop roleplaying games. Enjoy your stay and let me know if there is anything that I can help with while you are here.
  </p>
</div>
